@import url('https://fonts.googleapis.com/css?family=Poppins:300, 400,500,600,700,800,900&display=swap');

*, *::after, *::before
{
    box-sizing: border-box;
    background-color: var(--bg);
}

:root
{
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * .9);
    --bg: #2a2a2e
}

body
{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0;
    overflow: hidden;
}

/*board **********************************************************/

.board
{
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    transform: translate(50%, 0%);
}

/*cell ***********************************************************/

.cell
{
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--bg);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3)
{
    border-top: none;
}

.cell:nth-child(3n + 1)
{
    border-left: none;
}

.cell:nth-child(3n + 3)
{
    border-right: none;
}

.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7)
{
    border-bottom: none;
}

.cell.x,
.cell.o
{
    cursor: not-allowed;
}

/*cell x *********************************************************/

.cell.x::before,
.cell.x::after
{
    background-color: blue;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after
{
    background-color: cornflowerblue;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after
{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/*cell o *********************************************************/

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after
{
    content: '';
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cell.o::before
{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: crimson;
}

.board.o .cell:not(.x):not(.o):hover::before
{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: lightcoral;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after
{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--bg);
}

.winning-message
{
    display: none;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 3rem;
}

.winning-message button{
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: 5px solid white;
    cursor: pointer;
    margin-top: 10px;
}

.winning-message button:hover{
    background-color: white;
    color: black;
}

.winning-message.show {
    display: flex;
}
.winning-message.x {
    color: blue;
}
.winning-message.o {
    color: red;
}

/* Difficulty buttons */
.borderbox {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    width: 20%;
    min-width: 270px;
    height: 70%;
    border: 5px solid black;
}

.settings {
    display: grid;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
    height: 66%;
}

.settings .title {
    margin-top: 10px;
    color: white;
    font-size: 2em;
}

.settings button {
    margin-top: 10px;
    color: white;
    font-size: 2em;
    width: 80%;
    min-width: 250px;
    height: 50px;
    border: 5px solid white;
    margin-top: 10px;
}

.settings .active {
    background-color: white;
    color: black;
}