@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*, *::after, *::before {
  margin: 0;
}

:root {
  --bg: #2a2a2e;
  --red: #cc231e;
  --lightgreen: #34a65f;
  --darkgreen: #0f8a5f;
  --lightred: #f5624d;
  --skyblue: #235e6f;
}

html {
  overflow: hidden;
}

body {
  background: #F45B69;
  width: 100%;
  height: fit-content;
}

.back {
  position: absolute;
  left: 25px;
  top: 25px;
}

.arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-135deg);
}

.arrow::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: .8vmin .8vmin 0 0;
  border-style: solid;
  border-color: #000;
  transition: .2s ease;
  display: block;
  transform-origin: 100% 0;
}


.arrow::after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 .8vmin 0 0;
  border-style: solid;
  border-color: #000;
  transform-origin: 100% 0;
  transition: .2s ease;
}

.arrow:hover::after {
  transform: rotate(45deg);
  border-color: #59C3C3;
  height: 120%;
}

.arrow:hover::before {
  border-color: #59C3C3;
  transform: scale(.8);

}


.wrap {
  background-color: #59C3C3;
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 50%;
  transform: translate(0, -50%);
  border: 5px solid black;
  border-left: none;
}

.wrap.two {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  border-top: none;
  border-left: 5px solid black;
}

.card {
  position: absolute;
  width: 50%;
  height: 50%;
  max-height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F45B69;
}

.text {
  position: relative;
  color: black;
  display: block;
  border: none;
  font-family: Pacifico;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.speech {
  position: absolute;
  bottom: 20%;
  display: block;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border: none;
}