@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::after, *::before
{
    box-sizing: border-box;
}

:root
{
    --bg: #2a2a2e;
    --red: #cc231e;
    --lightgreen: #34a65f;
    --darkgreen: #0f8a5f;
    --lightred: #f5624d;
    --skyblue: #235e6f;
}

body
{
    /* background: radial-gradient(ellipse at bottom, #235e6f 0%, #090a0f 100%); */
    background-color: var(--skyblue);
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: min-content;
}

main {
    position: relative;
}

.text-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.text-box {
    font-family: Pacifico;
    font-size: 60px;
    color: var(--red);
    padding-left: 50px;
    padding-right: 50px;
}

#nameplaceholder {
    display: inline;
    color: var(--lightgreen);
}

#nameplaceholder:hover {
    filter: drop-shadow(0 0 10px rgb(250, 238, 75));
}

#bg-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

/* canvas */
#screen {
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    /* filter: drop-shadow(0 0 5px rgb(255, 255, 255)); glow um den schnee */
}