@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*, *::after, *::before
{
    margin: 0;
}

:root
{
    --bg: #2a2a2e;
    --red: #cc231e;
    --lightgreen: #34a65f;
    --darkgreen: #0f8a5f;
    --lightred: #f5624d;
    --skyblue: #235e6f;
}

html {
    overflow: hidden;
}

body
{
    /* background: radial-gradient(ellipse at bottom, #235e6f 0%, #090a0f 100%); */
    background-color: var(--skyblue);
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
}

.text-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.text-box {
    font-family: Pacifico;
    font-size: 60px;
    color: var(--red);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#nameplaceholder {
    display: inline;
    color: var(--lightgreen);
}

#nameplaceholder:hover {
    filter: drop-shadow(0 0 10px rgb(250, 238, 75));
}

#bg-image {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

/* canvas */
#screen {
    position: absolute;
    /* filter: drop-shadow(0 0 5px rgb(255, 255, 255)); glow um den schnee */
}


/* tooltips and mousebubbles */
.tooltip {
  color: transparent;
  position: absolute;
}

.tooltiptext {
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 1000; 
  display: inline;
  margin: 0 auto;
}

.tooltip:hover {
  color: #fff;
}

.mousebubble {
  color: transparent;
  position: relative;
  border-radius: 100%;
  border: 5px solid #fff;
  width: 60px;
  height: 60px;
  animation: zoom-in-zoom-out 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform: translate(-50%, 0);
  margin: 0 auto;
}

.innerbubble {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid #fff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.tooltip.decorate {
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, 0);
}


/* xmas-tree */
.tree-container {
    position: absolute;
    left: 25%; 
    width: 50%;
    height: 90%;
    bottom: 0;
    visibility: visible;
  }
  
  .tree {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 500px;
    min-height: 450px;
    max-height: 800px;
    bottom: 0;
  }
  
  .base {
    position: absolute;
    width: 100%;
    height: 20px;
    background: #CCC;
    border-radius: 100%;
    bottom: 0px;
  }
  
  .base:after {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 30px;
    background: #84714F;
    transform: translate(-50%, -75%);
    margin-left: 50%;
  }
  
  .layer {
    position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #388a3f;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 380px;
    }
  
  .layer.two{
    position: absolute;
    border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-bottom: 140px solid #56c83f;
      width: 5%;
      bottom: 290px;
  }
  
  .layer.three{
    position: absolute;
    width: 10%;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      border-bottom: 180px solid #388a3f;
      bottom: 190px;
  }
  
  .layer.four{
    position: absolute;
    width: 20%;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 220px solid #56c83f;
    bottom: 40px;
  }
   
  
  .bauble {
    z-index: 1;
    position: relative;
    border-radius: 100%;
    visibility: hidden;
  }
  
  .bauble.one { 
    top: 65px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .bauble.two { 
    top: 105px; left: -30px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .bauble.three { 
    top: 110px; left: 15px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .bauble.four { 
    top: 163px; left: -30px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 

  
  .line {
    z-index: 1;
    position: relative;
    top: 70px; left: -43px;
    width: 70px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
    visibility: hidden;
  }
  
  .line.two {
    top: 93px; left: -55px;
    width: 420%;
    min-width: 100px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }
  
  .line.three {
    top: 123px; left: -70px;
    width: 300%;
    min-width: 130px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }
  
  .line.four {
    top: 66px; left: -90px;
    width: 230%;
    min-width: 180px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }

  .pressie {
    z-index: 1;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #F45B69;
  }

  .tooltip.pressie {
    bottom: 40px;
    left: 275px;
    background: transparent;
    visibility: hidden;
    animation-timing-function: ease-out;
  }
  
  .cover {
    position: relative;
    left: -3px;
    width: 66px;
    height: 10px;
    background: #F45B69;
    border-bottom: 1px solid #AAA;
  }

  .wrap {
    position: relative;
    left: 25px;
    top: -10px;
    background: #59C3C3;
    width: 10px;
    height: 60px;
  }

  .wrap:after {
    position: relative;
    left: 25px;
    top: -10px;
    background: #59C3C3;
    width: 10px;
    height: 60px;
    transform: rotate(90deg);
  }
  
  /* .pressie:hover {
    animation: 0.5s move linear infinite;
  } */
  
  @keyframes move {
    0% { transform: rotate(10deg)}
    50%{transform: rotate(-30deg)}
    100%{transform: rotate(10deg)}
  }
  
  .light {
    box-shadow: 1px 1px 10px #CCC,
                 -2px 1px 10px #CCC,
                     0 -1px 10px #CCC
  }
  
   @keyframes fall-in {
    0% {
      bottom: 100%;
    }
    80% {
      bottom: 10px;
      transform: scale(1, 1);
    }
    90% {
      transform: scale(1, .6);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes zoom-in {
    0% {
      transform: scale(0.0);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(.6, .6);
      opacity: 1;
    }
    80% {
      transform: scale(1, 1);
      opacity: 1;
    }
    100% {
      transform: scale(.6, .6);
      opacity: .1;
    }
  }

  .star {
     z-index: 1;
     position: absolute;
     display: block;
     color: red;
     width: 0px;
     height: 0px;
     bottom: 0px;
     border-right:  100px solid transparent;
     border-bottom: 70px  solid #FFE066;
     border-left:   100px solid transparent;
     transform: rotate(35deg) scale(.2);
  }
  .star:before {
     border-bottom: 80px solid #FFE066;
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     position: relative;
     height: 0;
     width: 0;
     top: -45px;
     left: -65px;
     display: block;
     content: '';
     transform: rotate(-35deg);
  
  }
  .star:after {
     position: relative;
     display: block;
     color: red;
     top: -75px;
     left: -105px;
     width: 0px;
     height: 0px;
     border-right: 100px solid transparent;
     border-bottom: 70px solid #FFE066;
     border-left: 100px solid transparent;
     transform:rotate(-70deg);
     content: '';
  }
  
  .star.two {
    transform: rotate(23deg) scale(.1);
    position: relative;
    top: 102px; left: -60px;
    visibility: hidden;
  }