@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*, *::after, *::before
{
    margin: 0;
}

:root
{
    --bg: #2a2a2e;
    --red: #cc231e;
    --lightgreen: #34a65f;
    --darkgreen: #0f8a5f;
    --lightred: #f5624d;
    --skyblue: #235e6f;
}

html {
    overflow: hidden;
}

body
{
    /* background: radial-gradient(ellipse at bottom, #235e6f 0%, #090a0f 100%); */
    background-color: var(--skyblue);
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
}

.text-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.text-box {
    font-family: Pacifico;
    font-size: 60px;
    color: var(--red);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#nameplaceholder {
    display: inline;
    color: var(--lightgreen);
}

#nameplaceholder:hover {
    filter: drop-shadow(0 0 10px rgb(250, 238, 75));
}

#bg-image {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

/* canvas */
#screen {
    position: absolute;
    /* filter: drop-shadow(0 0 5px rgb(255, 255, 255)); glow um den schnee */
}


/* xmas-tree */
.tree-container {
    position: absolute;
    left: 300px;
    width: auto;
    height: auto;
  }
  
  .socks:hover {
    animation: 1.9s deco  linear infinite;
  }
  
  .tree {
    position: relative;
  }
  
  .base {
    width: 210px;
    height: 10px;
    background: #CCC;
    position: relative;
    top: 304px; left: -45px;
    border-radius: 100%;
  }
  
  .base:after {
    content: '';
    width: 20px;
    height: 30px;
    background: #84714F;
    position: absolute;
    top: -25px; left: 83px;
  }
  
  .layer {
    position: relative;
    width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #499F68;
  }
  
  .layer.two{
    position: relative;
    top: -80px; left: -10px;
    border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 120px solid #499F68;
  }
  
  .layer.three{
    position: relative;
    top: -180px; left: -30px;
    border-left: 80px solid transparent;
      border-right: 80px solid transparent;
      border-bottom: 160px solid #499F68;
  }
  
  .layer.four{
    position: relative;
    top: -310px; left: -50px;
    border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 200px solid #499F68;
  }
   
  
  .bauble {
    z-index: 1;
    position: relative;
    border-radius: 100%;
  }
  
  .bauble.one { 
    top: 65px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .bauble.two { 
    top: 105px; left: -30px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .bauble.three { 
    top: 110px; left: 15px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .bauble.four { 
    top: 163px; left: -30px;
    width: 13px;
    height: 13px;
    background: #FFE066;
  } 
  
  .deco {
    position: relative;
    top: 130px; left: 30px;
    width: 50px;
    height: 20px;
    background: #EF476F;
  /*   border-radius: 100% 100% 100% 100%; */
    transform: rotate(0deg);
  }

  
  .line {
    z-index: 1;
    position: relative;
    top: 70px; left: -43px;
    width: 70px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }
  
  .line.two {
    top: 93px; left: -50px;
    width: 85px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }
  
  .line.three {
    top: 123px; left: -60px;
    width: 106px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }
  
  .line.four {
    top: 66px; left: -80px;
    width: 140px;
    height: 0;
    background: #FFE066;
    border: 1px dashed #FFF;
    transform: rotate(-30deg);
  }
  
  .pressie {
    z-index: 1;
    position: relative;
    top: 325px;  left: 120px;
    width: 60px;
    height: 60px;
    background: #F45B69;
  }
  
  .cover {
    position: relative;
    left: -3px;
    width: 66px;
    height: 10px;
    background: #F45B69;
    border-bottom: 1px solid #AAA;
  }

  .wrap {
    position: relative;
    left: 25px;
    top: -10px;
    background: #59C3C3;
    width: 10px;
    height: 60px;
  }

  .wrap:after {
    position: relative;
    left: 25px;
    top: -10px;
    background: #59C3C3;
    width: 10px;
    height: 60px;
    transform: rotate(90deg);
  }
  
  /* .pressie:hover {
    animation: 0.5s move linear infinite;
  } */
  
  @keyframes move {
    0% { transform: rotate(10deg)}
    50%{transform: rotate(-30deg)}
    100%{transform: rotate(10deg)}
  }
  
  .light {
    box-shadow: 1px 1px 10px #CCC,
                 -2px 1px 10px #CCC,
                     0 -1px 10px #CCC
  }
  
  .star {
     z-index: 1;
     position: relative;
     left: -50px; top: 100px;
     display: block;
     color: red;
     width: 0px;
     height: 0px;
     border-right:  100px solid transparent;
     border-bottom: 70px  solid #FFE066;
     border-left:   100px solid transparent;
     transform: rotate(35deg) scale(.2);
  }
  .star:before {
     border-bottom: 80px solid #FFE066;
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     position: relative;
     height: 0;
     width: 0;
     top: -45px;
     left: -65px;
     display: block;
     content: '';
     transform: rotate(-35deg);
  
  }
  .star:after {
     position: relative;
     display: block;
     color: red;
     top: -75px;
     left: -105px;
     width: 0px;
     height: 0px;
     border-right: 100px solid transparent;
     border-bottom: 70px solid #FFE066;
     border-left: 100px solid transparent;
     transform:rotate(-70deg);
     content: '';
  }
  
  .star.two {
    transform: rotate(23deg) scale(.1);
    position: relative;
    top: 102px; left: -60px;
  }